*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 40px 0;
    background-color: white;
    nav{
        display: flex;
        a{
            text-decoration: none;
            li{
            list-style: none;
            color: black;
            background: pink;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            
            }
            
        }
        
    }
}
.itemnavbar:hover{
    
        background: #cc2f98;
        color: #fff;
}

.imagLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotienda{
    width: 90px;
}
.carrito{
    cursor: pointer;
    color: black;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(2, 200px);
    list-style: none;
    background-color: white;
}
    

.item{
    font-family: fantasy;
    padding: .2em;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 700;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
}    

.parrafos{
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    color: #f51326e1;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
}
img{
    padding: 20px 0 20px 0;
    margin: 20px;
    justify-items: flex-start;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
}

footer{
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: 2em;
    background-color: white;
    
   
   
   
}
.fa-whatsapp{
    color: green;
    text-decoration: solid;
   
    
}
.ins{
    color: crimson;
   border-bottom: 10px;
   border-radius: 10px;
   color: red;
}
.fac{
    color: blue;
}
.you{
    color: red;
}
a{
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
  
}