*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    background-image: url(../img/abstract-1522884_1280.jpg);
    nav{
        display: flex;
        a{
            text-decoration: none;
            li{
            list-style: none;
            color: black;
            background: pink;
            padding: 5px;
            border-radius: 5px;
            margin: 5px;
            
            }
            
        }
        
    }
}
.itemnavbar:hover{
    
        background: #cc2f98;
        color: #fff;
}

.imagLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotienda{
    width: 90px;
}
main{
    display: flex;
    padding:10px;
    flex-direction: column;
    background-image: url(../img/abstract-1522884_1280.jpg);

.formulario{
    flex-direction: column;
    display: flex;
}

}

 
.wrapperform{
    display: flex;
    justify-content: center;
    background-image: url(../img/abstract-1522884_1280.jpg);
    height: 35vh;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
    
}
input{
    border: none;
    padding: 10px;
    width: 500px;
   
}
button{
    padding: 10px;
    margin-top: 10px;
    color: white;
    background: palevioletred;
}
.textarea{
    display: flex;
    justify-content: center;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
}
body{
    background-color: pink;
}
.logo{
    display: flex;
    justify-content: center;
    
}
h3{
    display: flex;
    justify-content: center;
}
.boton{
    justify-content: center;
    display: flex;
}
.fono{
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
    
}

    
    


footer{
   
        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 2em;
       background-image: url(../img/abstract-1522884_1280.jpg);
         
       
    }
    .fa-whatsapp{
        color: green;
        text-decoration: solid;
       
        
    }
    .ins{
        color: crimson;
       border-bottom: 10px;
       border-radius: 10px;
       color: red;
    }
    .fac{
        color: blue;
    }
    .you{
        color: red;
    }
    a{
        margin: auto;
        backdrop-filter: blur(10px);
        border: 2px solid #003459;
        border-radius: 20px;
        box-shadow: 0 0 30px #00000080;
        padding: 10px
      
    }
    
    .mainContacto{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(5 auto);
        gap: 20px 15px;
    }

    .fono{
        grid-column: 2/3;
       grid-row: 1;
    }

    .wrapperform{
        grid-column: 2/3;
        grid-row: 2;
    }

    .h3Contact{
        grid-column: 2/3;
        grid-row: 3;
    }

    .textarea{
        grid-column: 2/3;
        grid-row: 4;
    }

    .boton{
        grid-column: 2/3;
        grid-row: 5;
    }

    .imgContact{
        width: 150px;
        grid-column: 1/3;
        grid-row: 2;
    }

