*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid pink;
    padding: 10px 0 10px 0;
    background-image: url(../img/abstract-1522884_1280.jpg);
    
    background-color: #eebfc7;
    nav{
        display: flex;
        a{
            text-decoration: none;
            li{
            list-style: none;
            color: black;
            background: pink;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            
            }
            
        }
        
    }
}
.itemnavbar:hover{
    
        background: #cc2f98;
        color: #fff;
}

.imagLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotienda{
    width: 90px;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(2, 200px);
    border-bottom: 2px solid pink;
    list-style: none;
    background-color: aliceblue;
    
    img{
        
        width: 75px;
        height: fit-content;
        padding: 20px;
        margin: auto;
        backdrop-filter: blur(10px);
        border: 2px solid #003459;
        border-radius: 20px;
        box-shadow: 0 0 30px #00000080;
        padding: 10px
    } 

}

    
footer{
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: 2em;
    background-color: #eebfc7;
    background-image: url(../img/abstract-1522884_1280.jpg);
    
   
   
   
}
.fa-whatsapp{
    color: green;
    text-decoration: solid;
   
    
}
.ins{
    color: crimson;
   border-bottom: 10px;
   border-radius: 10px;
   color: red;
}
.fac{
    color: blue;
}
.you{
    color: red;
}
a{
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
    
  
}