*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    background-image: url(../img/abstract-1522884_1280.jpg);
    nav{
        display: flex;
        
        a{
            text-decoration: none;
            li{
            list-style: none;
            color: black;
            background: pink;
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            
            }
            
        }
        
    }
}


.itemnavbar:hover{
    
        background: #cc2f98;
        color: #fff;
}

.imagLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotienda{
    width: 90px;
    
}

.carrito{
    cursor: pointer;
    color: white;
}
main{
    display: grid;
    grid-template-columns:repeat(5,300px) ;
    grid-template-rows: repeat(6, 200px);
    list-style: none;
    background-image: url(../img/abstract-1522884_1280.jpg);    

}
p{
    grid-column: 3/5;
    grid-row: span 4/6;
}

.iframe{
    width: 450px;
    height: 350px;
    grid-column: 1/5;
    grid-row: span 6/6;

}
.videos{
    width: 350px;
    height: 350px;
    grid-column: 5/5;
    grid-row: span 6/6;
}






.link{
    grid-column: 2/5;
    grid-row: 3/6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
    
}




.imgMain{
    width: 350px;
    grid-column: 3/5;
    grid-row: span 4/6;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
    

}

.maquilla{
    width: 350px;
    height: 350px;
    grid-column: 1/5;
    grid-row: span 3/6;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px

}

.emprender{
    width: 350px;
    height: 350px;
    grid-column: 1/5;
    grid-row: span 1/6;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
}

.bas{
    width: 350px;
    height: 350px;
    grid-column: 5/5;
    grid-row: span 1/6;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
}



.simbolo{
    grid-column: 5/5;
    grid-row:  span 4/6;
    color: orangered;
    font-family: fantasy;
    padding: .2em;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 700;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #f38910;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
}
.btn-natura{
    grid-column: 2/5;
    grid-row:  span 1/6;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #dd1c1c;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 100px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-natura:hover{
    background: #d87606;
    box-shadow: 0 0 10px #c7a945, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.btn-natura span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#642d09);
 }
 .btn-natura:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-natura:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#d8580d);
}
.btn-natura:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#db8119);
}
.btn-natura:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
footer{
    display: flex;
    justify-content: center;
    padding: 5%;
    font-size: 2em;
    background-image: url(../img/abstract-1522884_1280.jpg);
    
   
   
   
}
.fa-whatsapp{
    color: green;
    text-decoration: solid;
   
    
}
.ins{
    color: crimson;
   border-bottom: 10px;
   border-radius: 10px;
   color: red;
}
.fac{
    color: blue;
}
.you{
    color: red;
}
a{
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    text-decoration: none;
    color: #cc2f98;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #003459;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000080;
    padding: 10px
    
    
  
}
a:hover{
    background: #cc2f98;
    color: pink;
    
}
.a1{
    color: white;
}

.a1:hover{
    color: white;
    background: black;
}
.a2{
    color: white;
}
.a2:hover{
    color: white;
    background: black;
}
.a3{
    color: white;
}
.a3:hover{
    color: white;
    background: black;
}
p{
    color: white;
}